# ==========================================================
# ENTORNO VIRTUAL
# ==========================================================

venv/

# ==========================================================
# VARIABLES DE ENTORNO
# ==========================================================

.env

# ==========================================================
# CACHE DE PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# LOGS
# ==========================================================

logs/*.log

# ==========================================================
# VISUAL STUDIO CODE
# ==========================================================

.vscode/

# ==========================================================
# ARCHIVOS TEMPORALES
# ==========================================================

*.tmp
*.bak
*.swp

# ==========================================================
# SISTEMA OPERATIVO
# ==========================================================

Thumbs.db
.DS_Store

# ==========================================================
# ARCHIVOS GENERADOS POR TECHDOCAI
# ==========================================================

exports/
historial/